body{
    background-color: lightgray;
}

.login-window{
    background-color: white;
    margin: auto;
    text-align: center;
    max-width: 380px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.login-window h1{

}