body{
    background-color: lightgray;
}

.login-window{
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}

.login-window h1{
    background-color: white;
    margin: auto;
    text-align: center;
    width: 50%;
}