#nav-bar{
    background-color: black;
    color: white;

}

#nav-bar h1 { display: inline-block; }
#login {    position:absolute;
                   top:0;
                   right:0; }

#nav-bar a:link { color: white; }
#nav-bar a:visited { color: white; }
#nav-bar a:hover { color: white; }
#nav-bar a:active { color: white; }